django==5.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq==0.1.9
langchain-text-splitters==0.2.4
chromadb==0.4.24
sentence-transformers==2.7.0
pypdf==4.3.1
python-dotenv==1.1.0
gunicorn==21.2.0
whitenoise==6.9.0